.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.reader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}