.card-root {
  margin: 10px;
  flex: 1 0 61%;
  flex-basis: 40%;
}

.card-media {
  height: 200px;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-content {
  padding: 20px 0;
  display: flex;
  justify-content: flex-start;
}